@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

$coral: #4F6272;
$darkblue: #666A86;
$light-grey: #D0CDD7;
$light-light-grey: #F9FBFF;
$light-blue: #7EA8BE;
// Global Variables
$family-sans-serif: "Lora", sans-serif;

$grey-dark: $coral;
$grey-light: $light-grey;
$primary: $light-blue;
$link: $darkblue;



// Class Variables
$card-background-color: $light-light-grey;
$section-padding: .5em 0em;

.alert-shown {
    opacity: 1;
    transition: all 250ms linear;
  }
  
.alert-hidden {
    opacity: 0;
    transition: all 250ms linear;
}


// Import File Styling
.Title {
  font-size: larger;
  font-weight: bold;
  color: #555;
}

.Card {
  background-color: white;
  padding: 32px;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.Upload {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
}

.Content {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  box-sizing: border-box;
  width: 100%;
}

.Dropzone {
  height: 200px;
  width: 100%;
  background-color: #fff;
  border: 2px dashed rgb(187, 186, 186);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

.Icon {
  opacity: 0.3;
  height: 64px;
  width: 64px;
}
.FileInput {
  display: none;
}

.Files {
  align-items: flex-start;
  justify-items: flex-start;
  flex: 1;
  overflow-y: auto;

  border: 1px solid #dfe2e5;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 0;
  margin-bottom: 10px;
}

.Filename {
  margin-bottom: 8px;
  margin-left: 4px;
  font-size: 14px;
  color: #555;
}
.FileIcon {
  opacity: 0.3;
  height: 20px;
  width: 14px;
}
.Row {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: left;
  height: 25px;
  padding: 4px;
  overflow: hidden;
  box-sizing: border-box;
}


@import "../node_modules/bulma/bulma.sass";

.select { width:100%; padding-bottom: 1em; }
.select select[multiple] { width: 100%; height: 20em; vertical-align: top; padding-bottom: .5em;}
.select select[multiple] option { padding: .2em 1em;}
option { white-space: pre; font-size: .9em; min-height: 1.2em; height: 1.2em;}